@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    scroll-behavior: smooth;
    min-width: min-content;    
  }
  
body {
  background-color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
