@tailwind base;
@tailwind components;
@tailwind utilities;
html, body {
    scroll-behavior: smooth;
  min-width: min-content;
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
  margin: 0;
  padding: 0;
}

